* {
    margin: 0;
    padding: 0;
}

.total {
    width: 36rem;
    height: 20rem;
    background: rgb(157, 201, 252);
    margin: 2rem auto ;
}

.title {
    width: 15rem;
    font-size: 1.25rem;
    background: linear-gradient(to left, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin: auto;
    padding-top: 1rem;
}

.map {
    width: 20rem;
    height: 10rem;
    margin: 2rem auto 0;
    border: 0.125rem solid gray;
}

.input-card {
    width: 15rem;
    text-align: center;
    margin: 1rem auto;
}
.input-card .input-item {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-card .input-item input{
    width: 10rem;
    padding: .25rem .5rem;
}
.input-card .input-item button{
    width: 3.75rem;
    height: 1rem;
    color: #fff;
    background-color: rgb(63, 55, 55);
}

